*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li{
    list-style: none;
}

a, a:visited{

    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 600;
}

a:hover,a:active{
    text-decoration: underline;
}
p{
    line-height: 1.2;
    font-size: 14pt;
    font-weight: 500;
}
 h1{
     color: #222;
     font-family: 'Times New Roman', Times, serif;
     font-size: 24pt;
     width: 100%;
     text-align: center;
 }
.separator{
    height: 1px;
    width: 80%;
    margin: 4rem auto;
    background-color: #111;
}
.container{
    margin: 2em 0;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
@keyframes floating {
    0% { transform: scale(.9); }
    50%  { transform: scale(1); }
    100%   { transform: scale(1.1); }   
}
/*navigation*/
nav{
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    height: 3rem;
}
nav ul{
    flex: 1;
    display: flex;
}
.links{
    justify-content: left;
}
.social{
    justify-content: right;
}
nav ul li{
    margin: 0 1rem;
}


/*main*/
main{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.portrait{
    position: relative;
    max-width: 20rem;
    max-height: 35rem;
    border-radius: 30rem;
    padding: 1em;
    border: 1pt solid #999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);

}
.hire{
    cursor: pointer;
    bottom: 0;
    right: 0;
    transform: translateX(25%);
    transition: .3s;
    padding: 2em;
    position: absolute;
    background-color: #00CB4C;
    color: white;
    border: 3pt solid #fff;
    border-radius: 50%;
    animation: floating 3s linear infinite alternate ;
}
.hire:hover{
    transform: translateX(25%) scale(1.2);
    background-color: white;
    color: #00CB4C;
    border: 3pt solid #00CB4C;
}

.portrait-img{
    max-width: 100%;
    height: 100%;
    border-radius: 20rem;
    object-fit: cover;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}
main ul {
    margin-top: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main ul li{
    margin: 1em 2rem;
    width: 15rem;
}

.title{
    margin-bottom: 1rem;
    color: #aaa;
    text-transform: uppercase;
    font-size: 10pt;
}

.content{
    padding-left: .5rem;
    line-height: 1.5;
    font-size: 14pt;
}

@media screen and (max-width : 768px) {
 nav ul {
     display: none;
 }

 main{
    flex-direction: column;
    align-items: center;
    justify-content: center;   
 }   
 main ul{
     display: inline-flex;
     width: 100%;
     flex-direction: row;
     justify-content: center;
     align-content: space-between;
     flex-wrap: wrap;
     text-align: center;
     margin-top: 0;
 }
    .portrait{
        margin-bottom: 1rem;
        order: -1;
        max-height: 25rem;
        max-width: 15rem;
    }
    .title{
        font-size: 8pt;
    }

    .content{
        font-size: 12pt;
    }
    .projects .container a{
        margin-top: 2rem;
    }
    .hire{
        padding: 1.2em;
    }
    .project{
        max-width: 16em;
    }
}
/*skills*/

.skill{
    min-width: 10rem;
    padding: 1rem;
  /*  background-color: #eee; */
    border-radius: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.skill img{
    margin: 1rem;
    max-width: 4rem;
    max-height: 4rem;
}

/*projects

.projects{
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
}
.projects a{
    width: 18rem;
    margin: .1em 1rem;
    transition: .5s;
    display: block;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

.projects a:hover{
    text-decoration:none;

}

.project ul {
    display: flex;
    width: 100%;
    margin-left: 1rem;
}
.tags{
    gap: .2rem;
}

.tag{
    font-size: 10pt;
    font-weight: 500;
    padding: .2rem;
    border-radius: 1rem;
    color: #555;
}
.project img{
    margin-bottom: .4rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.p-title{
    margin: 1rem;
    text-transform: none;
    color : #222;
    font-size: 14pt;
    margin-top: .1em;
}
.carousel{
    height: 101%;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
    transform: translateX(50%) translateX(-9rem);
}
.carousel-item{
    filter: grayscale();
}
.carousel-active{
    filter: none;
    /*transform: translateY(-1em);
}
.carousel-nav{

    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-nav button{
    border: none;
    padding: 1em;
    border-radius: 100%;
}
.carousel-nav-next{
    margin-right: 5%;
}
.carousel-nav-prev{
    margin-left: 5%;
}
/*footer*/


/*projects*/
.project{
    filter: grayscale();
    margin-left : 2em;
    width: 24em;
    flex-shrink: 0;
    position: relative;
    left: 0;
    transition: .5s;
    padding-bottom: 1em;
    border-radius: 4pt;
}

.project img{
    width: 100%;
    object-fit:contain;
    border-radius: 4pt;
}

.tags{
    display: flex;
    gap: 1em;
    margin-left: 1rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: #aaa;
    text-transform: uppercase;
    font-size: 8pt;
}

.p-title{
    font-weight: 550;
    margin-top: 0;
    text-transform: capitalize;
    margin-left: 1rem;
    margin-top: .5em;
    font-size: 12pt;
    color: #111;
}

.projects{
    position: relative;
  padding: 0;
  height: 18rem;
}

.projects .container{

    gap: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-items:flex-end;
    overflow-x: auto;
    justify-content: flex-start;
    scrollbar-width: none;
}


.projects .container::-webkit-scrollbar{
    display: none;
}

.carousel-active{
    margin-bottom: 2em;
    margin-right: 2em;
    /* margin-left: 3em; */
    filter: none;
}
.carousel-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-nav-prev{
    margin-left: 2%;
}
.carousel-nav-next{
    margin-right: 2%;
}

.carousel button{
    cursor: pointer;
    color: #888;
    background-color: rgba(0, 0, 0,0);
    padding: .5em;
    border: none;
    border-radius: 50%;
}
.btn-icon{
    height: 24pt;
    width: 24pt;
}
/*footer*/
footer{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

