@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --orange : hsl(26, 100%, 55%);
    --pale-orange : hsl(25, 100%, 94%);
    --v-dark-blue : hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
}
* {
    font-family: 'Kumbh Sans',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

button{
    cursor: pointer;
    border: none;
    background-color: #fff;
    margin-right: 1rem;
}
.primary{
    color: var(--orange);
}
.bg-primary-2{
    background-color: var(--pale-orange);
}
.nav-item a{
    color: var(--Dark-grayish-blue);
    text-decoration: none;
    font-weight: 500;

}
body{
    position: relative;
}
/* using mobile first approach */

/* navigation bar */
.navbar{
    position: relative;
    padding: 0 1rem ;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    position: relative;
}
.left , .right{
    height: 100%;
    display: flex;
    align-items: center;
}

.links-wrapper{
    z-index: 100;
    background-color: rgba(0, 0, 0, .75);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: transform .1s ease-out;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    overflow: hidden;
}
.links-visible{
    z-index: 100;
    transition: transform .1s ease-in;
    transform: scaleX(1);
    transform-origin: 0% 50%;
}
.links .bu-close{
    margin-bottom: 2rem;
}
.links{
    padding: 1rem;
    width: 70%;
    max-width: 60rem;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-pic{
    height: 2rem;
    width: 2rem;
}
.cart{
    z-index: 10;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
    flex-direction: column;
    width: 97%;
    max-width: 45ch;
    overflow: hidden;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    transform: translateY(1em);
    right: 2%;
    transition: transform .1s ease-out;
    background-color: white;
    transform: scaleY(0);
    transform-origin: 50% 0%;
}
.cart-visible{
    transform: scaleY(1);
    transition: transform .1s ease-in;
}
.cart-header{
    font-size: 1.2rem;
    padding: 1.5rem;
    border-bottom: 1px solid var(--grayish-blue);
}
.c-empty{
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty-msg{
    font-size: 1rem;
    color: var(--grayish-blue);
}

@media only screen and (min-width : 786px) {
    .profile-pic{
        height: 3rem;
        width: 3rem;
        margin-left: 3rem;
    }
    .navbar{
        max-width: 80rem;
        margin: auto;
    }
    .nav-item{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        align-self: flex-end;
    }
    .nav-item::before{
        content: " ";
    }
    .nav-item::after{
        
        display:block;
        content: '';
        border-bottom: solid 3px var(--orange);  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin: 0 50%;
    }
    .nav-item:hover > a{
        color: var(--v-dark-blue); 
    }
    .nav-item:hover::after{
        transform: scaleX(1);
        transform-origin: 0% 50%;
    }
    .links-wrapper{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0);
        position: static;
        height: 100%;
        width: 100%;
        transform: scaleX(1);
    }
    
    .bu-close{
        display: none;
    }
    .links{
        align-items: center;
        flex-direction: row;
        width: auto;
        max-width: none;
        gap: 2rem;
    }

    .burger{
        display: none;
    }
}

/* main */

.product-main{
    margin-top: .5rem;
    width: 100%;
}

.p-image img{
    width: 100%;
}
.thumbnails {
    display: none;
}

.p-info {
    line-height: 1.5;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.p-company{
    font-size: .6rem;
    letter-spacing: .4ch;
    font-weight: 700;
}

.p-name,.p-price{
    font-size: 1.8rem;
}

.p-description{
    color: var(--Dark-grayish-blue);
    font-size: 1rem;
}

.p-price , .current{
    font-weight: 700;
    display: flex;
    align-items: center;
}
.current {
    gap: 1rem;
}

.p-price{
    justify-content: space-between;
}


.current p{
    padding: 0 .5em;
    border-radius: 10%;
}

.old , .p-discount {
    font-size: 1rem;
}
.old{
    color: var(--grayish-blue);
    text-decoration: line-through;
}

.p-controls{
    width: 100%;
    font-size: 1.2rem;
    margin: auto;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.p-counter{
    font-weight: 700;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 12pt;
    background-color: var(--Light-grayish-blue);
}
.p-counter button{
    margin: 0;
    background-color: var(--Light-grayish-blue);
}
.bu-primary{
    font-weight: 700;
    border-radius: 12pt;
    margin: 0;
    padding: 1rem;
    background-color: var(--orange);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.add-to-cart img{
    filter: brightness(0) saturate(100%) invert(100%);

}

@media only screen and (min-width : 786px) {
    .p-image img{
        border-radius: 12px;
    }
    .product-main{
        border-top: 2px solid var(--Light-grayish-blue);
        gap: 4rem;
        margin: auto;
        padding: 3rem;
        max-width: 100ch;
        display: flex;
        align-items: center;
    }
    .thumbnails{
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
    }
    .p-name {
        font-size: 2rem;
    }
    .p-price{
        flex-direction: column;
        align-items: flex-start;
    }
    .p-controls{
        flex-direction: row;

    }
    .p-counter{
        width: 40%;
    }
    .add-to-cart{
        width: 60%;
    }

    .t-active{
        border: 2px solid var(--orange);
        opacity: 50%;
    }
    .thumbnail:hover{
        cursor: pointer;
        opacity: 50%;
    }

}

/* mobile carousel */
.lightbox{
    display: none;
}
.p-image-wrapper{
    position: relative;
}
.carousel-controls{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-controls .icon path{
    object-fit: fill;
    height: .75rem;
    width: .75rem;
}
.carousel-controls button{
    padding: .75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 0;
    border-radius: 50%;
}

.carousel-controls .next{
    transform: translateX(-50%);
}

.carousel-controls .previous{
    transform: translateX(50%);
}

@media screen and (min-width : 786px) {
    .product-main .carousel-controls{
        display: none;
    }
    .lightbox-visible{
        display: flex;
    }
    .lightbox{
        
        display: none;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;
        background-color: rgba(0, 0, 0, .75);
    }
    .lightbox .p-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 40ch;
        margin: auto;
    }
    .lightbox .thumbnails{
        max-width: 35ch;
        margin: auto;
        margin-top: 2rem;
    }
    .carousel-controls .next{
        transform: translateX(50%);
    }
    
    .carousel-controls .previous{
        transform: translateX(-50%);
    }
    .lightbox-close{
        margin: 0;
        background-color: rgba(0, 0, 0, 0);
        margin-bottom: .5rem;
        align-self: flex-end;
    }
    .lightbox .icon{
        height: 1rem;
        width: 1rem;
    }
   .lightbox-close:hover > .icon > path{
        fill: var(--orange);
    }
    .carousel-controls button:hover > .icon > path{
        stroke: var(--orange);
    }
}

/* cart full state */

.bu-cart{
    position: relative;
}
.bu-cart .alert{
    font-weight: 600;
    padding: .05rem .3rem;
    font-size: .6rem;
    border-radius: .6rem;
    color: #fff;
    background-color: var(--orange);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%) translateX(50%);
}
.cart-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.cart-item{
    color: var(--Dark-grayish-blue);
    display: flex;
    gap: 1rem;
    height: 3rem;
    align-content: center;
    justify-content: center;
    margin: 0 .5rem;
}

.cart-item strong{
    color: #222;
}
.cart-item .thumbnail{
    height: 100%;

    border-radius: 4px;
}
.checkout{
    margin: 1rem 2rem;
}